.sidebar {
    display:block;
    padding: 20px;
    overflow: hidden;
    height: 100%;
    background-color: rgb(232, 237, 240);
    position: fixed;
    width:20%;
}

.card-header {
    display:block;
    width: 100%;
}

.main {
    margin-left:20%;
    display:block;
    align-self: right;
    background-color: rgb(240, 248, 202);
    padding: 5%;
}

#search-button {
    border-color: aliceblue;
    background-color:rgb(240, 241, 241);
}

#search-cities .li {
    background-color: black;
}

#forecast {
    padding-top: 5%;
}